.customize {
  display: flex;
  height: 100vh;

  .ui-controls {
    flex: 1 1 10%;
    margin-left: 0.5rem;
    display: flex;
    align-items: flex-start;
    margin-top: 5rem;
    flex-direction: column;

    #save-btn {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-top: 0.5rem;
      background: #49e0bc;
      padding: 0.5rem 1rem;
      font-size: 1.1em;
      border-radius: 7px;
      color: #ffffff;
    }

    .dropdown-label-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
    }
    label {
      margin-bottom: 0.5rem;
    }

    .drop-down {
      border-radius: 0;
      height: 3rem;
      color: #fff;
      font-size: 0.9em;
      background: rgba(0, 125, 95, 0.55);
    }
  }

  .editor-section {
    flex: 1 1 60%;

    h1 {
      color: rgba(73, 224, 188, 1);
    }

    .editor-template {
      padding: 0.5rem;
      line-height: 1.3;
      width: 70%;
    }
  }
}
